.wp-block-gco-content {
  border: 4px solid var(--wp-admin-theme-color);
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ededf0;
  width: 100%;
}
